%body
  .single-container
    .single-container--header
    %main.single-main
      .l-single-container
        %h2 プロフィール編集
    .l-single-content
      = form_with( model:@user, local: true, multipart: :true )  do |f|
        .form-group
          = f.label :nickname,"氏名"
          = f.text_field :nickname, autofocus: true
        .form-group
          = f.label :email
          = f.email_field :email, autofocus: true
        .form-group
          = f.label :image ,"画像"
          = f.file_field :image
        .form-group1
          = f.label :text ,"自己紹介文"
          = f.text_area :text
        .form-group
          = f.label :password, "パスワード"
          %span.form-require 必須
          = f.password_field :password,{class: "input-default", placeholder: "登録したパスワード"}
        .form-group.form-password-confirmation
          = f.label :password, "パスワード(確認)"
          %span.form-require 必須
          = f.password_field :password_confirmation,{class: "input-default", placeholder: "登録したパスワード"}
        = f.submit '次へ進む', class: "btn_default_btn2"

.mains--footer
  %ul.mains__footer__content
    %li
      = link_to "#" do
        会社概要（運営会社）
    %li
      = link_to "#" do
        プライバシーポリシー
    %li
      = link_to "#" do
        Bookingdam利用規約
  .mains__footer__logo
    = link_to image_tag('book.jpeg', class: 'logo__image'), "#"
  %p.mains__footer__c-mark
    © Bookingdam,inc.