.header
  .header-logo
    %h1 Bookingdamへようこそ
    %p 〜さあ、始めよう
  .header-menu
    -if user_signed_in?
      .listsRight__item.listsRight__item--first
        = link_to "ログアウト", destroy_user_session_path, method: :delete
      
    - else
      .listsRight__item.listsRight__item--first
        = link_to "ログイン", new_user_session_path,class: ''
      .listsRight__item.listsRight__item--second
        = link_to '新規ユーザー登録', step1_signup_users_path ,class: ''

.main
  .main-container
    .main-image
      .show-posts-container
        = form_with(url: search_users_path, local: true, method: :get, class: "search-form") do |form| 
          = form.text_field :keyword, placeholder: "主催者を検索する", class: "search-input"
          = form.submit "検索", class: "search-btn"
          %ul.contents_row
            

  = javascript_pack_tag 'hello_vue'