.book-info
  = link_to book_path(book.id) do
    .book-data1
      イベント名:
      = book.title
    .book-info2
      .book-data2
        =image_tag "/#{book.image}", size: "300x200"
    .book-data3
      = book.text
    .book-data4
      イベント開催日時:  
      = I18n.l(book.published_at)
    .book-data5
      予約締め切り:
      = I18n.l(book.end_day, format: :long)