%main.single-main
  .l-single-container
    %h2.l-single-head.registration イベント登録
    .l-single-content
      = form_with(url: books_path, local: true, method: :post,  id: "app") do |f|
        = f.hidden_field :book_id, value: @book.id ,multiple: true
        .form-mail
          .form-mail_label
            = f.label :published_at,"開催日時"
            %span.form-require 必須
          = f.text_field :published_at, placeholder:"Select date and time", type: "datetime", "v-model" => 'value1'
          %template
            %el-date-picker{:placeholder => "開催日時を選択してください", :type => "datetime", "v-model" => 'value1'}
        .form-mail
          .form-mail_label
            = f.label :end_day, "予約締切"
            %span.form-require 必須
          = f.date_select :end_day, use_month_numbers: true, start_year: 2020,id: "datepicker", type:"text"
        .form-mail
          .form-mail_label
            = f.label :title, "イベント名"
            %span.form-require 必須
          = f.text_field :title
        
        .form-mail
          .form-mail_label
            = f.label :text, "イベント内容"
            %span.form-require 必須
          = f.text_area :text

        .form-mail
          .form-mail_label
            = f.label :image, "イメージ写真" 
            %span.form-require 必須
          = f.file_field :image

        .form-mail
          .form-mail_label
            = f.label :address, "開催場所"
            %span.form-require 必須
          = f.text_field :address, class: "city_address"
          %button{id:"searchAddressBtn", value:"検索", type:"button"}
            場所を検索

          #map{style: "width: 100%; height: 160px;"}
          = f.text_field :latitude, readonly: "readonly", id:"inputLat"    
          = f.text_field :longitude, readonly: "readonly", id:"inputLng"

        = f.submit "送信する", class: "btn btn-danger btn-wide"  

        = javascript_pack_tag 'hello_vue'
        = javascript_include_tag 'newmap'

.mains__footer
  %ul.mains__footer__content
    %li
      = link_to "#" do
        会社概要（運営会社）
    %li
      = link_to "#" do
        プライバシーポリシー
    %li
      = link_to "#" do
        Bookingdam利用規約
  .mains__footer__logo
    = link_to image_pack_tag('book.jpeg'), "#"
    %p.mains__footer__c-mark
      © Booingdam