.book
  .book-head
    %h2 予約内容
  .book-detail
    .book-detail-2
      %h2
        =@book.title
      %p
        = link_to "開催者:#{@user.nickname}", user_path(@user)

    .book-main
      =image_tag(@book.image.url) unless @book.image.nil?
    .book-main2
      .book-main2-text
        %h3
          =@book.text
      
      .book-main2-map
        .book-main2-map-address
          %p
            開催場所:
            =@book.address
        .book-main2-map-address2{id: "show_map", style: "height: 230px; width: 550px;"}

      .book-main2-day
        %p.book-main2-day-1 
          %p
            イベント開催日時: 
            = I18n.l(@book.published_at) + "~"
        %p.book-main2-day-1
          %p
            予約締め切り:
            = I18n.l(@book.end_day, format: :long)
        %p.book-main2-day-1
          %p
            = "現在、#{@reservations_count}" + "人が予約中"

      -if @book.reserved_by?(current_user)
        .book-main2-reservation
          .book-main2-reservation-notbtn
            = link_to "予約を取り消す", book_reservation_path(@book), method: :delete, class: 'btn'
      -else  
        .book-main2-reservation
          = form_for [@book, @book.reservations.new] do |f| 
            .book-main2-reservation-btn
              = f.submit "このイベントを予約する"
-if @user.id == current_user.id            
  .book-main3
    %h2 参加者名簿
    .bookingdam4{id:"app3"}
      %template
      %el-table{":data" => "users", :style => "width: 100%"}
        %el-table-column{:label => "名前", :prop => "nickname", :width => "250"}
        %el-table-column{:label => "email", :prop => "email", :width => "250"}
        %el-table-column{:label => "電話番号", :prop => "phone_number", :width => "250"}
.mains__footer
  %ul.mains__footer__content
    %li
      = link_to "#" do
        会社概要（運営会社）
    %li
      = link_to "#" do
        プライバシーポリシー
    %li
      = link_to "#" do
        Bookingdam利用規約
  .mains__footer__logo
    = link_to image_pack_tag('book.jpeg'), "#"
    %p.mains__footer__c-mark
      © Booingdam
    
= javascript_pack_tag 'books/show'
= javascript_include_tag 'showmap'